<div class="container">
  <div>
    <h2 class="task-title">
      <%= @task.title %>
      <span>
        <%= link_to edit_task_path(@task) do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
      </span>
    </h2>
  </div>

  <div>
    <p>
      <%= @task.details %>
    </p>
  </div>

  <div>
    <%= link_to tasks_path(@task) do %>
      <i class="fa-solid fa-rotate-left">Back to list</i>
    <% end %>
  </div>
</div>
